h1 {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.esq {
    padding-left: 200px;
}

nav {
    background-color: #a06c3f;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

li {
    margin-right: 20px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none; /* Remove as bolinhas da lista */
    
}

.a1 {
    text-decoration: none;
    color: #e8cb9a;
}

.a2 {
    text-decoration: none;
    color: #000000
}

a:hover {
    color: #623307;
}

.marrom {
    text-decoration: none;
    color: #a06c3f;
}

body {
    background-color: #fff9e1;
}

.sub {
    text-decoration: none;
    color: #445a14;
}