h1 {
    font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}


p {
    font-family: "Merriweather", serif;
    font-weight: 300px;
    font-style: normal;
}

.base {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.esq {
    padding-left: 200px;
}


nav {
    background-color: #a06c3f;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

li {
    margin-right: 20px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    /* Remove as bolinhas da lista */

}


.a1 {
    text-decoration: none;
    color: #e8cb9a;
}

.a2 {
    text-decoration: none;
    color: #000000
}

a:hover {
    color: #623307;
}

.marrom {
    text-decoration: none;
    color: #a06c3f;
}

body {
    background-color: #fff9e1;
}

.sub {
    text-decoration: none;
    color: #445a14;
}