* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    background-color: #fff9e1;
}

h1 {
    text-decoration: none;
    color: #a06c3f;
}

a:hover {
    color: #623307;

}

nav {
    background-color: #a06c3f;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

li {
    display: inline;
    margin-right: 20px;
}

.a1 {
    text-decoration: none;
    color: #e8cb9a;
}

.a2 {
    text-decoration: none;
    color: #000000
}

.esq {
    padding-left: 200px;
}