div {
    background-color: #ee92e6;

    /* limitar o tamanho da div pra ficar um bloco 5x5, pq no site lá o máximo é 5 sapos por coluna e por linha */
    /* logo a altura e largura da div, nesse caso, deve ser de aproximadamente 5 vezes o tamanho da imagem */
    /* no seu caso 120px * 5 = 600px */
    height: 600px;
    width: 600px;

    /* deixar a div no centro da tela */
    display: flex;
    margin: 0 auto;

    /* borda e espaço entre ela e a imagem */
    border-radius: 4%;
    padding: 5px;
}

body {
    background-color: #ffebf0;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.catg {
    border: 5px solid #25fc09;
}

.esq {
    padding-left: 575px;
}


.caty {
    border: 5px solid #c9bf07;
}


.catr {
    border: 5px solid #ee0b0b;
    ;
}

img {
    width: 120px;
    height: 120px;
}

h1 {
    /* joguei a fonte pro body, assim o h1 herda a fonte do body e aplica pra geral */
    /*e como vc usou uma fonte externa, vc tem que copiar o link dela e colar no head do html em todos os arquivos, 1 por 1*/
    /* <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet"> esse */
    /* ao menos que vc vá copiando o código já pronto para o próximo arquivo */

    /* centralizar o título */
    display: flex;
    justify-content: center;

    /* corzinha coquette */
    color: #ff6f91;
    background-color: #ffe6f1;


}

.next {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.ant {
    display: flex;
    align-items: first baseline;
}

.circle {
    border-radius: 50%;
}

.ex1 {
    display: flex;
    justify-content: flex-end;
}

.ex2 {
    display: flex;
    justify-content: center;
}

.ex3 {
    display: flex;
    justify-content: space-around;
}

.ex4 {
    display: flex;
    justify-content: space-between;
}

.ex5 {
    display: flex;
    align-items: flex-end;
}

.ex6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ex7 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.ex8 {
    display: flex;
    flex-direction: row-reverse;
}

.ex9 {
    display: flex;
    flex-direction: column;
}

.ex10 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.ex11 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ex12 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.ex13 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

.ex14 {
    display: flex;
}

.ex14Amarelo {
    order: 3;
}

.ex15 {
    display: flex;
}

.ex15Vermelho {
    order: -1;
}

.ex16 {
    display: flex;
    align-items: flex-start;
}

.ex16Amarelo {
    align-self: flex-end;
}

.ex17 {
    display: flex;
    align-items: flex-start;
}

.ex17Amarelo {
    order: 1;
    align-self: flex-end;
}

.ex18 {
    display: flex;
    flex-wrap: wrap;
}

.ex19 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ex20 {
    display: flex;
    flex-flow: column wrap;
}

.ex21 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.ex22 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.ex23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

.ex24 {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
}