div {
    margin: 0%;
}

.catg {
    border: 5px solid #25fc09;
}


.caty {
    border: 5px solid #c9bf07;
}


.catr {
    border: 5px solid #ee0b0b;
    ;
}

img {
    width: 120px;
    height: 120px;
}

.circle {
    border-radius: 50%;
}

.lvl1 {
    display: flex;
    justify-content: flex-end;

}

.lvl2 {
    display: flex;
    justify-content: center;

}

.lvl3 {
    display: flex;
    justify-content: space-around;
}

.lvl4 {
    display: flex;
    justify-content: space-between;
}

.lvl5 {
    display: flex;
    align-items: flex-end;
}